* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: DIN, Helvetica, Arial, sans-serif;
    
}
/* body{
} */
.wrapper {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: #000;
    position: relative;
}

.logo img {
    position: absolute;
    width: 100px;
    left:40px;
}

.logo img:hover {
    cursor: pointer;
}

.form-search {
    position: absolute;
    left: 200px;
    top: 30px;
}

.form-search input {
    width: 600px;
    height: 40px;
    border: none;
    padding-left: 5px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 14px;
}

.form-search input:focus-visible {
    outline: none;
}


.form-search i {
    width: 40px;
    height: 40px;
    font-size: 28px;
    padding: 6px 6px;
    background-color: #fff;
    position: absolute;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.form-search i {
    cursor: pointer;
}


.log {
    position: absolute;
    right: 80px;
    top: 30px;
}

.btn {
    width: 130px;
    height: 40px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.buy {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 30px;

}

.icon {
    font-size: 25px;
    padding: 6px 6px;
    color: #fff;
}

.icon:hover {
    cursor: pointer;
}

/* Menu */

nav {
    width: 100%;
    background-color: rgb(41, 39, 39);
}

.menu {
    width: 100%;
    margin: 0px auto;
    display: flex;
    padding: 0px 100px;
}
.menu li{
    list-style: none;
}
.menu li a {
    text-decoration: none;
}
.menu > li {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 3px;
    padding: 5px 0px;
}
.menu > li > a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px dotted #ffffff;
    border: 1px solid #ffffff0a;
    padding:9px 2px ;
    transition: all 0.5s;
    border-radius: 5px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li > a:hover{
    border: 1px solid;
    transform: translateY(-4px);
}

.menu > li:nth-child(3):hover .submenu_fisrt {
    max-height: 500px;
    display: block;
}
.submenu_fisrt > li:nth-child(3):hover .submenu_second {
    max-height: 500px;
    display: block;
}
.submenu_fisrt > li:nth-child(4):hover .submenu_three {
    max-height: 500px;
    display: block;
}
.submenu {
    max-height: 0px;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.808);
    border: 1px solid #ffffff;
}

.submenu_second{
    left: 200px;
    margin-top: -40px;
}
.submenu_three{
    left: 200px;
    margin-top: -40px;
}
.submenu li{
    width: 200px;
}
.submenu li a {
    color: #ffffff;
    display: block;
    padding: 10px 25px;
    text-align: left;
    transition: all 0.5s;
}

.submenu li a:hover  {
    background-color: rgba(0, 0, 0, 0.322);
    padding-left: 35px;
}

/* Content */

.pd_new {
    width: 100%;
    height: 500px;
    background: linear-gradient(rgba(78, 79, 82, 0.8), rgba(152, 153, 155, 0.9)), url(../IMG/pexels-photo-6318271.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/* ------ */
#form{
    margin: 0 auto;
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    height: 470px;
    width: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: #f9f9f9fb; 
    top: 15px;
    padding-bottom: 5px;
}
h2 {
    margin-top: 50px;
    margin-bottom: 30px;
} 
label {
    margin-left: 41px; 
    display: block; 
    font-weight: lighter;
    color: rgb(92, 86, 86);
}
#form input{
    display: block;
    border-bottom: 2px solid #002ed4;
    margin-top: 6px;
    margin-bottom: 10px;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
}
#form input[type="text"] {
    padding: 5px;
    width: 70%;
}
#xac_nhan button{
    border: none; 
    outline: none;
    padding: 10px;
    background-color: #1161ed;
    border-radius: 15px;
}
#xac_nhan button:hover{
    opacity: 0.8;
    transition: opacity 0.2s;
    cursor: pointer;
}  
#mât_khẩu{
    width: 202px;
}
#mât_khẩu2{
    width: 202px;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    height: 200px;
    border-top: 5px solid rgb(41, 39, 39);
    line-height: 24px;
    background-color: rgb(41, 39, 39);
    color: #ffffff;
}

footer h3 {
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}


footer li {
    list-style: none;
    font-size: 15px;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
}

section li:hover,
section li:hover a{
    font-weight: bold;
    /* color: #000; */
    opacity: 0.8;
    transition: opacity 0.2s;
}

li i {
    margin-right: 2px;
}

.member table {
    width: 100%;
}

.member td {
    width: 200px;
}

.link ul li{
    width: 160px;
}