* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: DIN, Helvetica, Arial, sans-serif;
    
}
/* body{
} */
.wrapper {
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: #000;
    position: relative;
}

.logo img {
    position: absolute;
    width: 100px;
    left:40px;
}

.logo img:hover {
    cursor: pointer;
}

.form-search {
    position: absolute;
    left: 200px;
    top: 30px;
}

.form-search input {
    width: 600px;
    height: 40px;
    border: none;
    padding-left: 5px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 14px;
}

.form-search input:focus-visible {
    outline: none;
}


.form-search i {
    width: 40px;
    height: 40px;
    font-size: 28px;
    padding: 6px 6px;
    background-color: #fff;
    position: absolute;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.form-search i {
    cursor: pointer;
}


.log {
    position: absolute;
    right: 80px;
    top: 30px;
}

.btn {
    width: 130px;
    height: 40px;
    background-color: #fff;
    margin: 0 5px;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.buy {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 30px;
    top: 30px;

}

.icon {
    font-size: 25px;
    padding: 6px 6px;
    color: #fff;
}

.icon:hover {
    cursor: pointer;
}

/* Menu */

nav {
    width: 100%;
    background-color: rgb(41, 39, 39);
}

.menu {
    width: 100%;
    margin: 0px auto;
    display: flex;
    padding: 0px 100px;
}
.menu li{
    list-style: none;
}
.menu li a {
    text-decoration: none;
}
.menu > li {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin: 3px;
    padding: 5px 0px;
}
.menu > li > a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px dotted #ffffff;
    border: 1px solid #ffffff0a;
    padding:9px 2px ;
    transition: all 0.5s;
    border-radius: 5px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu > li > a:hover{
    border: 1px solid;
    transform: translateY(-4px);
}

.menu > li:nth-child(3):hover .submenu_fisrt {
    max-height: 500px;
    display: block;
}
.submenu_fisrt > li:nth-child(3):hover .submenu_second {
    max-height: 500px;
    display: block;
}
.submenu_fisrt > li:nth-child(4):hover .submenu_three {
    max-height: 500px;
    display: block;
}
.submenu {
    max-height: 0px;
    position: absolute;
    display: none;
    background-color: rgba(0, 0, 0, 0.808);
    border: 1px solid #ffffff;
}

.submenu_second{
    left: 200px;
    margin-top: -40px;
}
.submenu_three{
    left: 200px;
    margin-top: -40px;
}
.submenu li{
    width: 200px;
}
.submenu li a {
    color: #ffffff;
    display: block;
    padding: 10px 25px;
    text-align: left;
    transition: all 0.5s;
}

.submenu li a:hover  {
    background-color: rgba(0, 0, 0, 0.322);
    padding-left: 35px;
}

/* Content */

/* .pd_new {
    width: 90%;
    height: 500px;
    margin-top: 20px;
    margin: 10px auto;
} */
/* ------ */
.content {
    width: 90%;
    height: 900px;
    padding-top: 20px;
} 

.pd_new {
    width: 100%;
    height: 2000px;
    background-color: #f9f9f9; 
}
.intro_1 {
    width: 50%;
    height: 400px;
    background: url(../IMG/intro1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.gioi_thieu1{
    width: 45%;
    height: 155px;
    float: left;
    padding: 0 15px; 
    margin-left: 15px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
}
.gioi_thieu1 h3{
    margin-top: 20px;
    text-align: center;
}
.gioi_thieu1 p{
    margin-top: 20px;
    text-indent: 20px;
    color: #797b7c;
}
.gioi_thieu2 h3{
    margin-top: 20px;
    text-align: center;
}
.gioi_thieu2 p{
    margin-top: 20px;
    text-indent: 20px;
    color: #797b7c;

}
.gioi_thieu2{
    width: 45%;
    height: 155px;
    float: right;
    padding: 0 15px;
    margin-right: 15px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px 0px grey;
}
.ds_thanhvien{
    width: 40%;
    height: 270px;
    margin: 0 auto;
    margin-top: 250px; 
    /* background-color: rgb(132, 118, 101);   */
}
.ds_thanhvien h2{
    text-align: center;
}
.ds_thanhvien ul{
    display: inline-block;
    
}
.ds_thanhvien .ds_ten{
    list-style: none;
    margin-left: 30px;
}
.ds_thanhvien .ds_mssv{
    list-style: none;
    float: right;
    margin-right: 70px;
}
.ds_thanhvien .tieude{
    text-align: center;
    margin-bottom: 10px;
}
.ds_thanhvien p{
    margin-top: 10px;
    text-align: center;
}
.intro_2 {
    width: 40%;
    height: 300px;
    background: url(../IMG/intro2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


/* footer */

footer {
    width: 100%;
    display: flex;
    height: 200px;
    border-top: 5px solid rgb(41, 39, 39);
    line-height: 24px;
    background-color: rgb(41, 39, 39);
    color: #ffffff;
}

footer h3 {
    font-size: 18px;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}


footer li {
    list-style: none;
    font-size: 15px;
}

footer li a {
    color: #ffffff;
    text-decoration: none;
}

footer li:hover,
footer li:hover a{
    font-weight: bold;
    /* color: #000; */
    opacity: 0.8;
    transition: opacity 0.2s;
}

li i {
    margin-right: 2px;
}

.member table {
    width: 100%;
}

.member td {
    width: 200px;
}

.link ul li{
    width: 160px;
}